.filterContainer {
  background-color: rebeccapurple;
  width: 500 px;
  height: 30 px;
  background-color: rgb(250, 254, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.FilterSelect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Select {
  margin: 20px;
  width: 100px;
}
